
main{
    height: 100vh;
    width: 101.5%;
    background-color: black;
    margin: 0px;
    padding: 0px;
    position: fixed;
}
#navSection{
    height: 100vh;
    background-color: rgb(43, 41, 41);
}
#mainSection{
    height: 85vh;
    background-color: rgb(26, 29, 26);
    overflow: auto;
}
#musicSection{
    height: 100vh;
    background-color: rgb(29, 29, 23);
}
nav, #musicIcons{
    background-color: rgb(40, 38, 38);
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 0px 35px rgb(0, 0, 0);
}
#title1{
    height: 300px;
    color: white;
}
#title2{
    height: 100px;
    color: white;
}
#title3{
    height: 300px;
    background-color: rgb(56, 54, 54);
}
#play{
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}
#play:hover{
    background-color: rgb(96, 85, 85);
}
#line{
    border-bottom: 1px solid white;
}
.Titles1{
    background-color: rgb(191, 31, 87);
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.Titles2{
    background-color: rgb(52, 194, 237);
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.Titles3{
    background-color: #e96e16;
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.Titles4{
    background-color: #e623b8;
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.Titles5{
    background-color: #397ce0;
    display: grid;
    grid-template-columns: 4fr 8fr;
}
#title2 div{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}
.BottemPlay{
    height: 100px;
    width: 100%;
    background-color: rgb(54, 51, 51);
    position: fixed;
    bottom: 0px;
    box-shadow: 0px 0px 45px black;
    margin-left: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.imgIcons{
    margin: 7px;
    border-radius: 50%;
}
.imgIcon{
    margin: 7px;
    border-radius: 50%;
    animation: animation 40s infinite;
}
@keyframes animation {    
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
